.mainProductos{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

        .mainMercado {
            height: 100%;
            max-width: 1300px;
            margin-top: 50px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            column-gap: 30px;
            row-gap: 30px;

                .productos{
                            @include flex-column-center;
                            gap: 10px;
                    a{
                        .ropa {
                            height: 350px;
                            width: 350px;
                            object-fit: contain;
                        }
                    }
                    .productoText {
                        @include flex-center;
                        font-size: 1.1rem;
                    }
                    .price {
                        font-size: 2rem;
                    }
                }
                
                
                .ropa {
                    height: 350px;
                    width: 350px;
                    object-fit: contain;
                }
                
        
        }
        .container {
            gap: 15px;
            flex-wrap: nowrap;
        }
}