.mainContacto {
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    .page {
        height: 10%;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .pageText {
            font-size: 1rem;
        }
    }
    .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        .boton{
            width: 10%;
            height: 30px;
            border-radius: 10px;
            background-color: map-get($colores,color-black);
            font-size: map-get($sizes, font );
            color: map-get($colores, color-white);
        }
        .botonEnviar{
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: medium;
        }
    }
}

@media (max-width: 700px){

    .mainContacto {
        .container{
            .boton{
                width: 20%;
                
        }
    }
}
}