$Center: center;
$Font-page:'Oswald', sans-serif;
$ancho:100%;

$style:(
    centro:center,
);

$sizes:(
    font:1rem,
    number:1.1rem,
);

$colores:(
    color-black: #000000,
    color-white: #ffff,
)