@import "reset";
@import "variables";
@import "mixins";
@import "header";
@import "mainRopa";
@import "mainContacto";
@import "mainEnvio";
@import "mainFaqs";
@import "error";
@import "footer";


.underline-hover::after {
    content: "";
    height: 2px;
    width: 0;
    background-color: rgb(0, 0, 0);
    display: block;
    transition: ease-in-out 300ms;
    
}
.underline-hover:hover::after {
    width: 100%;
}


/* Contacto con bootstrrap */

.contenedormain {
    height: 80%;
}

.mb-3 {
    width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #030303;
    border-color: #070707;
}

.btn-primary:hover {
    color: #fff;
    background-color: #030303;
    border-color: #070707;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #fff;
    background-color: #030303;
    border-color: #030303;
    box-shadow: 0 0 0 0.25rem rgba(5, 5, 5, 1);
}

.btn-check:checked+.btn-primary,
.btn-check:active+.btn-primary,
.btn-primary:active,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #070707;
    border-color: #070707;
}

.btn-check:checked+.btn-primary:focus,
.btn-check:active+.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary.active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(5, 5, 5, 1);
}

.btn-primary:disabled,
.btn-primary.disabled {
    color: #fff;
    background-color: #070707;
    border-color: #050505;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #000000;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}






