
.piedepagina {
    height: auto;
    background-color: map-get($colores, color-black);
    color: white;
    .contentfooter {
        background-color: map-get($colores, color-black);
        height: 40%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .imgFooter {
            height: 50%;
            margin-top: 10px;
            max-width: 150px;
            max-height: 150px;
            border-color: map-get($colores, color-black);
        }
        .menuItems2{
            background-color: map-get($colores, color-black);
            color: white;
            height: 40%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;
            list-style: none;
            .nav_items{
                background-color: map-get($colores, color-black);
                color: white;
                .items2{
                    background-color: map-get($colores, color-black);
                    color: white;
                    text-decoration: none;
                    font-size: 1rem;
                    cursor: pointer;
                    &:hover{
                        background-color: map-get($colores, color-black);
                        color: white;
                    }
                }
            }
        }
    }
    .boxRedes {
        height: 18%;
        background-color: map-get($colores, color-black);
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
            .itemsRedes {
                background-color: map-get($colores, color-black);
                    .imgRedes {
                        filter: invert(100%);
                        width: 35px;
                        height: 35px;
                    
                    }
            }
    }
    .boxDerechos {
        height: 20%;
        background-color: map-get($colores, color-black);
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            background-color: map-get($colores, color-black); 
            font-size: 1rem;
        }
    }
}